/TryApp/TryApp/TryApp/obj/Debug/netstandard2.0/TryApp.csprojAssemblyReference.cache
/TryApp/TryApp/TryApp/obj/Debug/netstandard2.0/TryApp.csprojAssemblyReference.cache
/TryApp/TryApp/TryApp/obj/Debug/netstandard2.0/Page1.xaml.g.cs
